
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: poppins, sans-serif;

}
body{
    overflow: hidden;
    background: rgb(0, 0, 0);
    background-size: cover;
}
div{
    position: absolute;
    width: 400px;
    height: 200px;
    
    left:250px;
    align-items: center;
}
h1{
    color: blueviolet;
}
strong{
    color: green;
}
video
{
    position: absolute;
    left:00px;
    bottom: 00px;
    z-index: -2;
    height: auto;
    /* width: 100%; */
    min-width: 100%;
    min-height: 100%;
    
}
